{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}


{% block title %}
    Cadastrar Questão
{% endblock %}


{% block content %}

                    <div class="container-fluid pt-4 px-4">
                        <div class="bg-light rounded h-100 p-4">
                            <h3 class="text-center">Cadastro de questão</h3>
                            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}

                            {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                            {% endif %}


                                <div class="form-floating mb-3">
                                    {% render_field form.enunciado class="form-control"  type="textarea" rows="4" cols="50" %}
                                    <label for="floatingInput">Enunciado</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.imagem class="form-control"  type="file" %}
                                    <label for="floatingInput">Imagem (opcional)</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.nivel class="form-control"  type="text" %}
                                    <label for="floatingInput">Nível</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.a class="form-control"  type="text" %}
                                    <label for="floatingInput">Letra A</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.b class="form-control"  type="text" %}
                                    <label for="floatingInput">Letra B</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.c class="form-control"  type="text" %}
                                    <label for="floatingInput">Letra C</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.d class="form-control"  type="text" %}
                                    <label for="floatingInput">Letra D</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.resposta_correta class="form-control"  type="text" %}
                                    <label for="floatingInput">Resposta correta</label>
                                </div>

                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </form>
                        </div>
                    </div>

{% endblock %}