{% extends 'base.html' %}

{% load static %}



{% block title %}
    Cadastrar Candidato
{% endblock %}


{% block content %}

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Cadastrar candidato</h6>
                            <form>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput">
                                    <label for="floatingInput">Nome Completo</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput">
                                    <label for="floatingInput">Endereço de email</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput">
                                    <label for="floatingInput">Telefone</label>
                                </div>


                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Data de Nascimento</label>
                                </div>

                                <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Brasileiro ou Estrangeiro?</option>
                                    <option value="1">Brasileiro</option>
                                    <option value="2">Estrangeiro</option>
                                </select>
                                <label for="floatingSelect">Nacionalidade</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Identidade (somente dígitos)</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Orgão Emissor</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Emissão da identidade</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">CPF (somente dígitos)</label>
                                </div>

                                <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Masculino ou Feminino?</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                </select>
                                <label for="floatingSelect">Sexo</label>
                                </div>

                                <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Clique para selecionar</option>
                                    <option value="1">Ensino Fundamental</option>
                                    <option value="2">Ensino Médio</option>
                                    <option value="3">Ensino Superior</option>
                                </select>
                                <label for="floatingSelect">Escolaridade</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Logradouro</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Número</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Complemento</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">CEP (Somente números)</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Bairro</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Cidade</label>
                                </div>

                                <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example">
                                    <option selected>Clique para selecionar</option>
                                    <option value="1">Acre - AC</option>
                                    <option value="2">Alagoas - AL</option>
                                    <option value="3">Amapá - AP</option>
                                    <option value="4">Amazonas - AM</option>
                                    <option value="5">Bahia - BA</option>
                                    <option value="6">Ceará - CE</option>
                                    <option value="7">Distrito Federal	- DF</option>
                                    <option value="8">Espírito Santo - ES</option>
                                    <option value="9">Goiás - GO</option>
                                    <option value="10">Maranhão - MA</option>
                                    <option value="11">Mato Grosso - MT</option>
                                    <option value="12">Mato Grosso do Sul - MS</option>
                                    <option value="13">Minas Gerais - MG</option>
                                    <option value="14">Pará - PA</option>
                                    <option value="15">Paraíba - PB</option>
                                    <option value="16">Paraná - PR</option>
                                    <option value="17">Pernambuco - PE</option>
                                    <option value="18">Piauí - PI</option>
                                    <option value="19">Rio de Janeiro - RJ</option>
                                    <option value="20">Rio Grande do Norte - RN</option>
                                    <option value="21">Rio Grande do Sul - RS</option>
                                    <option value="22">Rondônia - RO</option>
                                    <option value="23">Roraima - RR</option>
                                    <option value="24">Santa Catarina - SC</option>
                                    <option value="25">São Paulo - SP</option>
                                    <option value="26">Sergipe - SE</option>
                                    <option value="27">Tocantins - TO</option>
                                </select>
                                <label for="floatingSelect">Estado</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" >
                                    <label for="floatingInput">Empresa atual</label>
                                </div>

                                <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Anexar foto do aluno e demais arquivos</label>
                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                                </div>

                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </form>
                        </div>
                    </div>

{% endblock %}