{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}


{% block title %}
    Cadastrar Turma
{% endblock %}


{% block content %}




    <div class="container-fluid pt-4 px-4">
                        <div class="bg-light rounded h-100 p-4">
                            <h3 class="text-center">Cadastro de turma</h3>
                            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}

                            {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-primary" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                            {% endif %}


                                <div class="form-group">

                                <!-- Dados Pessoais -->

                                <br/>


                                <div class="form-floating mb-3">
                                    {% render_field form.nome_da_turma class="form-control"  type="text" %}
                                    <label for="floatingInput">Nome da Turma</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.titulo_do_certificado class="form-control"  type="text" %}
                                    <label for="floatingInput">Título do Certificado</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.empresa class="form-control"  type="text" %}
                                    <label for="floatingInput">Empresa</label>
                                </div>

                                <div class="form-floating mb-3">
                                    {% render_field form.data_da_prova class="form-control"  type="date" %}
                                    <label for="floatingInput">Data da Prova</label>
                                </div>

                                <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>
                            </form>
                            </br>
                        </div>
                    </div>
{% endblock %}