{% extends 'base.html' %}

{% load static %}



{% block title %}
    Index
{% endblock %}


{% block content %}


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-sm-6 col-xl-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-book-reader fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="text-center">Total de Candidatos</p>
                                <h6 class="text-center">123</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-user-graduate fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="text-center">Candidatos Certificados</p>
                                <h6 class="text-center">99</h6>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-sm-6 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="text-center">Aproveitamento</p>
                                <h6 class="text-center">85%</h6>
                            </div>
                        </div>
                    </div>
                    </div>
                    -->

            </div>
            <!-- Sale & Revenue End -->

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Próximas turmas</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome da Turma</th>
                            <th>Certificação</th>
                            <th>Empresa</th>
                            <th>Data da Prova</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for turma in turmas %}
                        <tr>
                            <td>
                                <a href="">
                                    {{turma.id}}
                                </a>
                            </td>
                                <td>
                                    <a href="">
                                        {{turma.nome_da_turma}}
                                    </a>
                                </td>
                            <td>{{turma.titulo_do_certificado}}</td>
                            <td>{{turma.empresa}}</td>
                            <td>{{turma.data_da_prova}}</td>
                            <td>
                                <a href="">
                                    <input type="submit" class="btn btn-outline-success btn-sm" value="Visualizar">
                                </a>
                            </td>
                            <td>
                                <a href="">
                                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Editar">
                                </a>
                            </td>
                            <td>
                                <a href="">
                                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Deletar">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


{% endblock %}