{% extends 'base.html' %}

{% load static %}



{% block title %}
    Index
{% endblock %}


{% block content %}


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-sm-6 col-xl-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-book-reader fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="text-center">Total de Candidatos</p>
                                <h6 class="text-center">123</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-user-graduate fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="text-center">Candidatos Certificados</p>
                                <h6 class="text-center">99</h6>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col-sm-6 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="text-center">Aproveitamento</p>
                                <h6 class="text-center">85%</h6>
                            </div>
                        </div>
                    </div>
                    </div>
                    -->

            </div>
            <!-- Sale & Revenue End -->

            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Próximas turmas</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Certificação</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Horário</th>
                                    <th scope="col">Examinador</th>
                                    <th scope="col">Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01 Jan 2045</td>
                                    <td>01 Jan 2045</td>
                                    <td>INV-0123</td>
                                    <td>Jhon Doe</td>
                                    <td>$123</td>
                                    <td><a class="btn btn-sm btn-primary" href="">Visualizar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


{% endblock %}