{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}



{% block title %}
    CIPINAC - Candidato
{% endblock %}


{% block content %}


                    <div class="container-fluid pt-4 px-4">
                        <div class="bg-light rounded h-100 p-4">
                            <form method="get">
                                {{filter.form}}
                                <input type="submit"  class="btn btn-primary" value="Buscar">
                            </form></br>
                        <div class="table-responsive">

                    <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Razão Social</th>
                            <th>CNPJ</th>
                            <th>Telefone</th>
                            <th>e-mail</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empresa in filter.qs %}
                        <tr>
                            <td>
                                <a href="">
                                    {{empresa.id}}
                                </a>
                            </td>
                                <td>
                                    <a href="">
                                        {{empresa.razao_social}}
                                    </a>
                                </td>
                            <td>{{empresa.cnpj}}</td>
                            <td>{{empresa.telefone}}</td>
                            <td>{{empresa.email}}</td>
                            <td>
                                <a href="{% url 'update_empresa' empresa.id %}">
                                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Editar">
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'delete_empresa' empresa.id %}">
                                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Deletar">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                         </div>
                     </div>
                 </div>


{% endblock %}