{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}



{% block title %}
    CIPINAC - Candidato
{% endblock %}


{% block content %}


                    <div class="container-fluid pt-4 px-4">
                        <div class="bg-light rounded h-100 p-4">
                            <form method="get">
                                {{filter.form}}
                                <input type="submit"  class="btn btn-primary" value="Buscar">
                            </form></br>
                            <div class="table-responsive">
                                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>Empresa</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for candidato in filter.qs %}
                        <tr>
                            <td>
                                <a href="">
                                    {{candidato.id}}
                                </a>
                            </td>
                                <td>
                                    <a href="">
                                        {{candidato.nome}}
                                    </a>
                                </td>
                            <td>{{candidato.telefone}}</td>
                            <td>{{candidato.email}}</td>
                            <td>{{candidato.empresa}}</td>
                            <td>
                                <a href="{% url 'visualizar_candidato' candidato.id %}">
                                    <input type="submit" class="btn btn-outline-success btn-sm" value="Visualizar">
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'update_candidato' candidato.id %}">
                                    <input type="submit" class="btn btn-outline-primary btn-sm" value="Editar">
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'delete_candidato' candidato.id %}">
                                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Deletar">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                         </div>
                     </div>
                 </div>


{% endblock %}